.catalog {
    min-height: 510px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__header {
        font-style: normal;
        font-weight: bold;
        font-size: 21px;
        line-height: 21px;
        color: #70B42E;
    }
    &__text {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: #121212;
        margin-top: 20px;
    }
}
.widget {
    background: white;
    &__title {
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #222;
        font-size: 16px;
        padding-left: 15px;
        margin-bottom: 15px;
        border-left: 2px solid $green-color;
    }
    &__list {
        padding: 0;
        list-style: none;
    }
    &__list a {
        text-decoration: none;
        outline: none;
        display: block;
        padding: 6px 0; 
        letter-spacing: 1px;
        font-weight: 300;
        color: #444;
        transition: .3s linear;
    }
    a:hover {
        color: $hover-color;
    }
  }
  